.chatContent__body {
    background-color: var(--bs-card-bg);
    transition: all 0.4s;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (max-width: 991.98px) {
    .chatContent__body {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        z-index: 1030;
    }
    .chatContent__body.chatContent__body-show {
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .-webkit-scrollbar {
        width: 10px;
      }
}
.ChatContent__icon {
    height: 50px;
    width: 50px;
    margin-left: 1rem;
    font-size: larger;
    cursor: pointer;
    align-items: center;
}

.chatContent__input-parent {
    max-height: 400px;
    height: auto;
}


.chatContent__input {
    border-radius: 8px !important;
    margin-right: 10px;
    height: 50px;
    align-self: center;
    overflow-x: hidden;
    
}
.chatContent__button {
    font-weight: 400 !important;
    color: #7269ef !important;
    font-size: larger !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 8px !important;
    margin: 0px 10px;
    box-sizing: border-box;
    align-self: center !important;
}
.chatContent__buttonemoji {
    font-weight: 400 !important;
    color: #7269ef !important;
    font-size: larger !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 8px !important;
    margin: 0px 10px;
    box-sizing: border-box;
    align-self: center !important;
    margin-top: -5px;
    
}
/* .input-group {
    align-items: center !important;
} */
/* .input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
} */
.EmojiPickerReact {
    position: absolute!important;
    right: -9px!important;
    bottom: 60px!important;
}
@media only screen and (max-width: 600px) {
    .EmojiPickerReact {
        width: auto !important;
        height: 80px;
        right: -110px!important;
    }
}
.chatContent__button:hover {
    box-shadow: 0 0 0 0.15rem rgb(114 105 239 / 25%);
}
.chatContent__buttonemoji:hover {
    box-shadow: 0 0 0 0.15rem rgb(114 105 239 / 25%);
}
.chatContent__buttonSend:hover {
    box-shadow: 0 0 0 0.15rem rgba(228, 220, 220, 0.885);
}
.chatContent__buttonSend {
    color: #fff !important;
    background-color: #7269ef !important;
    border-color: #7269ef !important;
    font-size: x-large !important;
    border-radius: 8px !important;
    box-sizing: border-box;
    align-self: center !important;
}

.chatContent__buttonSend:active {
    color: #fff !important;
    background-color: #6159cb !important;
    border-color: #5b54bf !important;
    box-shadow: 0 0 0 0.15rem rgb(135 128 241 / 50%) !important;
}
.ChatContent__dropdown-background {
    background-color: var(--bs-dropdown-bg) !important;
}
.ChatContent__dropdownLink {
    color: var(--bs-dropdown-link-color) !important;
}
.ChatContent__dropdownLink:hover {
    background-color: var(--bs-gray-300) !important;
}

.ChatContent__userInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 1;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    width: 0;
    border-left: 4px solid var(--bs-border-color) !important;
    background-color: var(--bs-card-bg) !important;
    transition: all 0.4s;
}
.ChatContent__userInfo.show {
    width: 50%;
}
@media (max-width: 991.99px) {
    .ChatContent__userInfo.show {
        width: 100%;
    }
}

.ChatContent__userInfo-buttonClose {
    font-size: xx-large;
    text-align: end;
    margin-right: 16px;
}

.ChatContent__userInfo-avatar {
    align-self: center;
    border-bottom: 1px solid var(--bs-gray-300);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
    color: var(--bs-gray-700);
    font-weight: 500;
    border-bottom: 1px solid var(--bs-border-color) !important;
}

.ChatContent__userInfo-body {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-text-fill-color: unset;
    color: rgba(0, 0, 0, 0);
    transition: color 0.8s;
}

.ChatContent__userInfo-body:hover {
    color: var(--bs-gray-400);
}

.ChatContent__userInfo-listFile {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    gap: 4px;
    margin: 0 -5px;
}

.userInfo__AccordionItem {
    background-color: var(--bs-accordion-bg) !important;
    border: 1px solid var(--bs-border-color) !important;
}
.userInfo__AccordionItem button {
    color: var(--bs-accordion-button-active-color) !important;
    background-color: var(--bs-accordion-bg) !important;
}

.chatContent__body-background {
    width: 100%;
    height: 80vh;
    object-fit: contain;
}
.chatContent__body-title{
    text-align: center;
    margin-top: -10px;
    font-weight: 800;
}
.chatContent__body-title1{
    text-align: center;
    margin-top: 5px;
    font-weight: 200;
}
@media only screen and (max-width: 600px) {
    .chatContent__body-title{
        text-align: center;
        margin-top: auto !important;
        font-weight: 200;
    }
    .chatContent__body-title1{
        text-align: center;
        margin-top: auto !important;
        font-weight: 50;

    }
    .sound-wave{
        width: 80%;
    }
    .modal-content{
        width: 50%;
        height: 50%;
    }
}

.chatContent__body-toast {
    background-color: inherit !important;
    color: inherit !important;
    width: fit-content !important;
}
.chatContent__body-toast > button {
    background-color: var(--bs-gray-500) !important;
}
.vmsg-backdrop{
    position: fixed;
    z-index:1050;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    background: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
}
.vmsg-popup {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: var(--bs-body-bg); */
    /* background-color: #7269ef !important;
    border: solid 1px #ffffff; */
    background-color: var(--bs-gray-700);
    box-shadow: 1px 1px 4px 0 rgba(188, 169, 202, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #0a0a0a;
}
.vmsg-record-row {
    display: flex;
    justify-content: space-around;
}
.vmsg-record-button {
    /* font-size: 30px; */
    color: #f00;
    /* color: #fff !important; */
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    font-size: x-large !important;
    border-radius: 8px !important;
    box-sizing: border-box;
    align-self: center !important;
}
.vmsg-stop-button {
    /* font-size: 25px; */
    color: #000;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    font-size: x-large !important;
    border-radius: 8px !important;
    box-sizing: border-box;
    align-self: center !important;
    text-align: center;
}
.vmsg-timer {
    line-height: 32px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vmsg-save-button {
    font-size: 25px;
    color: #090;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    font-size: x-large !important;
    border-radius: 8px !important;
    box-sizing: border-box;
    align-self: center !important;
}
.vmsg-button {
    min-width: 40px;
    line-height: 30px;
    padding: 0;
    background: transparent;
    border: 1px solid #ccc;
    font-family: Helvetica,sans-serif;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.vmsg-slider-wrapper {
    position: relative;
    margin-top: 0px;
    height: 0;
    clip-path: circle(0);
}
.vmsg-slider {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    outline: none;
    background: none;
    clip-path: circle(0);
}
.btn_start {
    font-weight: 400 !important;
    color: #7269ef !important;
    font-size: larger !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 8px !important;
    margin: 0px 10px;
    box-sizing: border-box;
    align-self: center !important;
}
.sound-wave{
    align-self: center !important;
}
.btn_modal{
    font-weight: 200 !important;
    color: #ffffff !important;
    font-size: 25px;
    background-color: #1e10e7;
    border: 1px solid transparent !important;
    border-radius: 8px !important;
    margin: 0px 10px;
    box-sizing: border-box;
    align-self: center !important;    

}

.voice-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.voice-container .voice-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}